html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: local("OpenSans-Regular"), url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/OpenSans-LightItalic.woff") format("woff"), url("./fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: local("OpenSans-SemiBold"), url("./fonts/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/OpenSans-SemiBold.woff") format("woff"), url("./fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"); }

html {
  background: #F2F2F2; }

body {
  max-width: 1920px;
  min-width: 280px;
  font: 16px "OpenSans-Regular", sans-serif;
  background: #fff;
  color: #5A5A5A;
  margin: 0 auto; }
  .body_lock {
    overflow-y: hidden;
    touch-action: pan-x pinch-zoom; }

main {
  margin-bottom: 101px; }
  @media (max-width: 1199px) {
    main {
      margin-bottom: 30px; } }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

@media (min-width: 1921px) {
  .page {
    position: relative;
    overflow-x: hidden; } }

.menu {
  display: flex;
  align-items: center;
  max-width: 1131px;
  margin: 0 auto;
  padding: 45px 20px 44px; }
  @media (max-width: 767px) {
    .menu {
      justify-content: space-around;
      padding: 20px; } }
  .menu-col {
    display: flex;
    align-items: center; }
    .menu-col_01 {
      flex: 42%;
      padding-left: 53px; }
      @media (max-width: 991px) {
        .menu-col_01 {
          flex: 1 1 auto;
          justify-content: flex-end;
          padding: 0;
          margin-right: 80px; } }
      @media (max-width: 767px) {
        .menu-col_01 {
          flex-grow: 0; } }
    .menu-col_02 {
      flex: 45%;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        .menu-col_02 {
          flex: 1 1 auto; } }
      @media (max-width: 767px) {
        .menu-col_02 {
          flex-grow: 0; } }
  .menu__link {
    position: relative;
    font-family: "Montserrat-Bold", sans-serif;
    text-decoration: none;
    color: #363838e6;
    margin-right: 80px; }
    .menu__link:hover::after, .menu__link_active::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -7px;
      border-radius: 1px;
      background: rgba(54, 56, 56, 0.7); }
    .menu__link_active {
      position: relative; }
      .menu__link_active:hover {
        text-decoration: none; }
    .menu__link:last-of-type {
      margin: 0; }
    @media (max-width: 767px) {
      .menu__link {
        font-size: 24px;
        margin: 0 0 80px 0; }
        .menu__link:last-of-type {
          margin-bottom: 60px; } }
  @media (max-width: 991px) {
    .menu__logo-link {
      order: -1; } }
  .menu__logo {
    display: block;
    max-width: 97px;
    min-height: 31px; }
  .menu-icon {
    cursor: pointer;
    margin-left: 63px; }
    @media (max-width: 991px) {
      .menu-icon {
        margin-left: auto; } }
  .menu-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -700px;
    bottom: 0;
    width: 100%;
    max-width: 699px;
    background: #fff;
    padding-top: 95px;
    transition: right .5s;
    z-index: 2; }
    @media (min-width: 1921px) {
      .menu-drawer {
        position: absolute; } }
    @media (max-width: 767px) {
      .menu-drawer {
        padding-bottom: 50px; } }
    @media (max-width: 699px) {
      .menu-drawer {
        right: -100%; } }
    .menu-drawer_opened {
      right: 0; }
  .menu-drawer__close {
    position: absolute;
    top: 41px;
    left: 47px;
    width: 26px;
    cursor: pointer; }
    @media (max-width: 575px) {
      .menu-drawer__close {
        top: 20px;
        left: 20px; } }
  .menu-drawer__logo {
    max-width: 194px;
    margin-bottom: 45px; }
    @media (max-width: 767px) {
      .menu-drawer__logo {
        margin-bottom: 80px; } }
    @media (max-width: 575px) {
      .menu-drawer__logo {
        margin-bottom: 60px; } }
  .menu-drawer__item {
    text-align: center; }
    @media (max-width: 575px) {
      .menu-drawer__item {
        padding: 10px; } }
  .menu-drawer__item-title {
    font: 36px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin-top: 0;
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .menu-drawer__item-title {
        font-size: 30px; } }
  .menu-drawer__divider {
    max-width: 250px;
    border: 1px solid #979797;
    margin-bottom: 30px; }
    @media (max-width: 575px) {
      .menu-drawer__divider {
        margin-bottom: 20px; } }
  .menu-drawer__item-text {
    max-width: 485px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 85px; }
    @media (max-width: 575px) {
      .menu-drawer__item-text {
        margin: 0 auto 40px auto; } }
  .menu-drawer__item-img {
    max-width: 485px; }
    @media (max-width: 575px) {
      .menu-drawer__item-img {
        width: 95%; } }

.breadcrumbs {
  display: flex;
  align-items: center;
  min-height: 55px;
  position: relative;
  background: rgba(223, 223, 223, 0.5);
  font-size: 14px; }
  .breadcrumbs-content {
    flex: 100%;
    max-width: 1110px;
    margin: 0 auto; }
  .breadcrumbs__link:hover {
    text-decoration: underline; }
  .breadcrumbs__link:visited {
    color: inherit; }

.articles-page__breadcrumbs {
  padding-left: 21.4%;
  margin-bottom: 60px; }
  @media (max-width: 575px) {
    .articles-page__breadcrumbs {
      margin-bottom: 30px;
      min-height: 40px; } }

.contact-email {
  display: flex;
  align-items: center;
  margin-bottom: 27px; }
  .contact-email__icon {
    width: 16px;
    height: 16px;
    margin-right: 15px; }
  .contact-email__link {
    font-family: "OpenSans-SemiBold", sans-serif;
    text-decoration: none;
    color: #363838; }

.blog {
  display: flex;
  max-width: 1110px;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .blog {
      flex-wrap: wrap;
      max-width: 1000px;
      justify-content: center; } }
  .post-quote {
    max-width: 645px;
    margin: 36px auto 29px; }
    @media (max-width: 575px) {
      .post-quote {
        margin: 30px auto 30px; } }
  .post-quote__text {
    font: 24px/158% "OpenSans-LightItalic", sans-serif;
    color: #363838;
    margin: 0 0 23px; }
  .post-quote__divider {
    max-width: 177px;
    border: 1px solid #979797;
    margin: 0 0 25px 0; }
  .post-quote__author {
    font-family: "Montserrat-Bold", sans-serif;
    color: #363838; }
  .post-tags {
    margin: 38px 0 40px 0; }
    @media (max-width: 767px) {
      .post-tags {
        margin: 20px 0; } }
  .post-tags__title {
    font: 20px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 12px 0; }
  .post__tag, .blog__tag {
    display: inline-block;
    font: 14px/200% "OpenSans-SemiBold", sans-serif;
    color: #8F8D8D;
    padding: 0 15px;
    border-radius: 14px;
    border: 1px solid rgba(69, 70, 71, 0.5); }
  .post__tag {
    margin-right: 23px; }
    .post__tag:last-child {
      margin-right: 0; }
    @media (max-width: 767px) {
      .post__tag {
        margin: 0 15px 10px 0; } }
  .posts-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 32px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 38px; }
    @media (max-width: 575px) {
      .posts-nav {
        flex-wrap: wrap;
        padding: 20px 0;
        margin-bottom: 30px; } }
  .post-preview {
    display: flex;
    align-items: center; }
    .post-preview:nth-child(2) .post-preview__title {
      text-align: right; }
    @media (max-width: 575px) {
      .post-preview {
        flex: 100%; }
        .post-preview:first-child {
          justify-content: flex-start;
          margin-bottom: 20px; }
        .post-preview:last-child {
          justify-content: flex-end; } }
  .post-preview__link-prev {
    margin-right: 21px; }
  .post-preview__link-next {
    margin-left: 21px; }
  .post-preview__icon {
    max-width: 12px; }
  .post-preview__title {
    max-width: 243px;
    font: 14px/200% "OpenSans-SemiBold", sans-serif;
    color: #707070; }
    @media (max-width: 575px) {
      .post-preview__title {
        max-width: none; } }
  .post-comments__title {
    font: 20px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 22px 0; }
  .post-comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 51px; }
    @media (max-width: 575px) {
      .post-comment {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; } }
  .comment-author__avatar {
    max-width: 64px;
    margin-right: 13px; }
    @media (max-width: 575px) {
      .comment-author__avatar {
        margin-right: 0; } }
  .comment-info {
    margin-bottom: 10px; }
    @media (max-width: 575px) {
      .comment-info {
        text-align: center; } }
  .comment-author__name {
    display: block;
    font: 16px/144% "Montserrat-Bold", sans-serif;
    color: #363838; }
  .comment__date {
    font-size: 14px;
    color: #A1A1A1; }
  .comment__reply {
    font: 14px "OpenSans-SemiBold", sans-serif;
    color: #707070; }
  .comment__text {
    line-height: 169%;
    color: #5A5A5A;
    margin: 0; }
    @media (max-width: 575px) {
      .comment__text {
        margin-bottom: 10px; } }
  .comment-add__title {
    font: 16px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 27px 0; }
  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .form__textarea {
    box-sizing: border-box;
    flex: 0 1 100%;
    min-height: 125px;
    border-radius: 24px;
    padding: 18px 17px 0;
    border: 1px solid #DFDFDF;
    outline: 0;
    margin-bottom: 12px; }
    .form__textarea::-moz-placeholder {
      color: #A1A1A1; }
    .form__textarea:-ms-input-placeholder {
      color: #A1A1A1; }
    .form__textarea::placeholder {
      color: #A1A1A1; }
  .form__input {
    box-sizing: border-box;
    flex: 0 1 50%;
    height: 40px;
    min-width: 260px;
    max-width: 360px;
    border-radius: 20px;
    padding: 0 17px;
    border: 1px solid #DFDFDF;
    outline: 0;
    margin: 0 9px 22px 0; }
    .form__input::-moz-placeholder {
      color: #A1A1A1; }
    .form__input:-ms-input-placeholder {
      color: #A1A1A1; }
    .form__input::placeholder {
      color: #A1A1A1; }
    .form__input_last {
      margin-right: 0; }
  .form-checkbox-container {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
  .form__checkbox {
    width: 21px;
    height: 21px;
    border: 1px solid #979797;
    margin-right: 11px; }
  .form__checkbox-label {
    font-size: 14px;
    color: #A1A1A1; }
  .form__submit {
    width: 160px;
    height: 40px;
    background: #363838;
    border-radius: 21px;
    color: #FFFFF0;
    font: 16px "OpenSans-SemiBold", sans-serif;
    cursor: pointer;
    border: none;
    outline: 0; }
  .blog-content {
    max-width: 729px; }
    @media (max-width: 1199px) {
      .blog-content {
        padding-bottom: 20px;
        border-bottom: 1px solid #DFDFDF;
        margin-bottom: 30px; } }
  .blog-post__img {
    width: 100%;
    max-width: 729px;
    margin-bottom: 23px; }
  .blog-post__info {
    display: inline-block;
    font: 14px "OpenSans-SemiBold", sans-serif;
    color: #707070;
    margin-bottom: 11px; }
  .blog-post__title {
    font: 28px/143% "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 12px; }
    @media (max-width: 575px) {
      .blog-post__title {
        font-size: 22px; } }
  .blog-post__text {
    line-height: 169%;
    margin: 0; }
  .blog-info {
    max-width: 349px; }
    @media (max-width: 1199px) {
      .blog-info {
        max-width: 729px; } }
  .blog-search-form {
    position: relative;
    margin-bottom: 44px; }
    @media (max-width: 1199px) {
      .blog-search-form {
        max-width: 450px;
        margin: 0 auto 44px; } }
  .blog__search {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 50px 0 18px;
    border: 1px solid #383636;
    outline: 0; }
    .blog__search::-moz-placeholder {
      font-size: 14px;
      color: rgba(161, 161, 161, 0.7); }
    .blog__search:-ms-input-placeholder {
      font-size: 14px;
      color: rgba(161, 161, 161, 0.7); }
    .blog__search::placeholder {
      font-size: 14px;
      color: rgba(161, 161, 161, 0.7); }
  .blog__search-btn {
    position: absolute;
    top: calc(50% - 11px);
    right: 20px;
    background: transparent;
    cursor: pointer;
    border: 0; }
  .blog__search-icon {
    max-width: 17px; }
  .blog-data {
    margin-bottom: 51px; }
  .blog__categories {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    @media (max-width: 1199px) {
      .blog__categories {
        width: auto;
        margin-bottom: 34px; } }
  .blog-data__title {
    font-family: "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 15px; }
  .blog__categories-list {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap; }
    @media (max-width: 1199px) {
      .blog__categories-list {
        max-width: 729px; } }
  .blog__category {
    margin-bottom: 17px; }
    .blog__category:last-child {
      margin-bottom: 0; }
    @media (max-width: 1199px) {
      .blog__category {
        margin-right: 30px; }
        .blog__category:last-child {
          margin: 0 0 17px 0; } }
  .blog__recent-posts {
    margin-bottom: 55px; }
  .blog__recent-posts-title {
    margin-bottom: 26px; }
  .blog-recent-post {
    margin-bottom: 14px; }
    .blog-recent-post:last-child {
      margin-bottom: 0; }
  .blog-recent-post__link {
    line-height: 169%; }
  .blog-recent-post__info {
    display: block;
    font-size: 14px;
    color: #A1A1A1;
    margin-top: 5px; }
  .blog-tags {
    margin-bottom: 48px; }
    @media (max-width: 1199px) {
      .blog-tags {
        margin-bottom: 0; } }
  .blog__tag {
    margin: 0 10px 10px 0; }
    .blog__tag:nth-child(3) {
      margin-right: 0; }
    .blog__tag:last-child {
      margin-right: 0; }
    @media (max-width: 1199px) {
      .blog__tag:nth-child(3) {
        margin-right: 10px; } }
  .blog-sm {
    display: flex;
    align-items: center; }
    @media (max-width: 1199px) {
      .blog-sm {
        display: none; } }
  .blog-sm__link {
    max-height: 18px;
    margin-right: 20px; }
    .blog-sm__link:last-child {
      margin-right: 0; }

.footer-top {
  background: #DFDFDF;
  padding: 63px 0 80px; }
  @media (max-width: 767px) {
    .footer-top {
      padding: 5% 0; } }

.footer-top-container {
  display: flex;
  max-width: 1085px;
  font: 14px "OpenSans-SemiBold", sans-serif;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .footer-top-container {
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .footer-top-container {
      flex-direction: column-reverse; } }

.footer-contacts {
  flex-grow: 1;
  max-width: 540px;
  margin-right: 96px; }
  @media (max-width: 991px) {
    .footer-contacts {
      max-width: 350px;
      margin-right: 90px; } }
  @media (max-width: 767px) {
    .footer-contacts {
      max-width: 540px;
      margin: 0 auto; } }

.footer-contacts__title {
  font: 16px "Montserrat-Bold", sans-serif;
  margin: 0 0 17px 0; }
  @media (max-width: 767px) {
    .footer-contacts__title {
      text-align: center; } }

.footer-contacts__text {
  max-width: 476px;
  color: #5A5A5A;
  font: 16px/27px "OpenSans-Regular", sans-serif;
  margin: 0 0 22px 0; }

.footer-contacts-email {
  display: flex;
  align-items: center;
  margin-bottom: 27px; }

.footer-contacts-email__icon {
  max-width: 16px;
  margin-right: 15px; }

.footer-contacts-email__link {
  text-decoration: none;
  color: #363838; }
  .footer-contacts-email__link:hover {
    text-decoration: underline; }

.footer-form {
  display: flex; }
  @media (max-width: 575px) {
    .footer-form {
      flex-wrap: wrap;
      align-items: flex-start; } }

.footer-form__email-field {
  max-width: 369px;
  height: 41px;
  box-sizing: border-box;
  flex-grow: 1;
  background: transparent;
  font-size: 16px;
  border: 1px solid #383636b3;
  border-radius: 21px;
  padding: 10px 20px;
  margin-right: 9px;
  outline: 0; }
  @media (max-width: 575px) {
    .footer-form__email-field {
      margin-bottom: 10px; } }
  .footer-form__email-field::-moz-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field:-ms-input-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field::placeholder {
    color: #A1A1A1; }

.footer-form__btn {
  height: 40px;
  background: #363838;
  border: none;
  border-radius: 21px;
  color: #FFFFF0;
  padding: 12px 61px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: 0; }

.footer-col {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 385px; }
  @media (max-width: 991px) {
    .footer-col {
      max-width: none;
      justify-content: space-around;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer-col {
      justify-content: space-evenly;
      margin-bottom: 40px; } }
  @media (max-width: 379px) {
    .footer-col {
      justify-content: space-between; } }

.footer-social-media {
  max-width: 110px;
  flex-grow: 1; }

.footer__link {
  display: flex;
  align-items: center;
  color: #707070;
  text-decoration: none;
  margin-bottom: 25px; }
  .footer__link:last-child {
    margin-bottom: 0; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__sm-icon {
  max-width: 16px;
  margin-right: 12px; }

.footer-bottom {
  text-align: center;
  background: #363838;
  color: #A1A1A1;
  font: 16px "OpenSans-Regular", sans-serif;
  padding: 45px 10px 43px; }
  @media (max-width: 767px) {
    .footer-bottom {
      padding: 5% 10px; } }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s; }
  @media (min-width: 1921px) {
    .overlay {
      position: absolute; } }
