html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: local("OpenSans-Regular"), url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/OpenSans-LightItalic.woff") format("woff"), url("./fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: local("OpenSans-SemiBold"), url("./fonts/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/OpenSans-SemiBold.woff") format("woff"), url("./fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"); }

html {
  background: #F2F2F2; }

body {
  max-width: 1920px;
  min-width: 280px;
  font: 16px "OpenSans-Regular", sans-serif;
  background: #fff;
  color: #5A5A5A;
  margin: 0 auto; }
  .body_lock {
    overflow-y: hidden;
    touch-action: pan-x pinch-zoom; }

a {
  text-decoration: none; }

@media (min-width: 1921px) {
  .page {
    position: relative;
    overflow-x: hidden; } }

.menu {
  display: flex;
  align-items: center;
  max-width: 1131px;
  margin: 0 auto;
  padding: 45px 20px 44px; }
  @media (max-width: 767px) {
    .menu {
      justify-content: space-around;
      padding: 20px; } }
  .menu-col {
    display: flex;
    align-items: center; }
    .menu-col_01 {
      flex: 42%;
      padding-left: 53px; }
      @media (max-width: 991px) {
        .menu-col_01 {
          flex: 1 1 auto;
          justify-content: flex-end;
          padding: 0;
          margin-right: 80px; } }
      @media (max-width: 767px) {
        .menu-col_01 {
          flex-grow: 0; } }
    .menu-col_02 {
      flex: 45%;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        .menu-col_02 {
          flex: 1 1 auto; } }
      @media (max-width: 767px) {
        .menu-col_02 {
          flex-grow: 0; } }
  .menu__link {
    position: relative;
    font-family: "Montserrat-Bold", sans-serif;
    text-decoration: none;
    color: #363838e6;
    margin-right: 80px; }
    .menu__link:hover::after, .menu__link_active::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -7px;
      border-radius: 1px;
      background: rgba(54, 56, 56, 0.7); }
    .menu__link_active {
      position: relative; }
      .menu__link_active:hover {
        text-decoration: none; }
    .menu__link:last-of-type {
      margin: 0; }
    @media (max-width: 767px) {
      .menu__link {
        font-size: 24px;
        margin: 0 0 80px 0; }
        .menu__link:last-of-type {
          margin-bottom: 60px; } }
  @media (max-width: 991px) {
    .menu__logo-link {
      order: -1; } }
  .menu__logo {
    display: block;
    max-width: 97px;
    min-height: 31px; }
  .menu-icon {
    cursor: pointer;
    margin-left: 63px; }
    @media (max-width: 991px) {
      .menu-icon {
        margin-left: auto; } }
  .menu-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -700px;
    bottom: 0;
    width: 100%;
    max-width: 699px;
    background: #fff;
    padding-top: 95px;
    transition: right .5s;
    z-index: 2; }
    @media (min-width: 1921px) {
      .menu-drawer {
        position: absolute; } }
    @media (max-width: 767px) {
      .menu-drawer {
        padding-bottom: 50px; } }
    @media (max-width: 699px) {
      .menu-drawer {
        right: -100%; } }
    .menu-drawer_opened {
      right: 0; }
  .menu-drawer__close {
    position: absolute;
    top: 41px;
    left: 47px;
    width: 26px;
    cursor: pointer; }
    @media (max-width: 575px) {
      .menu-drawer__close {
        top: 20px;
        left: 20px; } }
  .menu-drawer__logo {
    max-width: 194px;
    margin-bottom: 45px; }
    @media (max-width: 767px) {
      .menu-drawer__logo {
        margin-bottom: 80px; } }
    @media (max-width: 575px) {
      .menu-drawer__logo {
        margin-bottom: 60px; } }
  .menu-drawer__item {
    text-align: center; }
    @media (max-width: 575px) {
      .menu-drawer__item {
        padding: 10px; } }
  .menu-drawer__item-title {
    font: 36px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin-top: 0;
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .menu-drawer__item-title {
        font-size: 30px; } }
  .menu-drawer__divider {
    max-width: 250px;
    border: 1px solid #979797;
    margin-bottom: 30px; }
    @media (max-width: 575px) {
      .menu-drawer__divider {
        margin-bottom: 20px; } }
  .menu-drawer__item-text {
    max-width: 485px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 85px; }
    @media (max-width: 575px) {
      .menu-drawer__item-text {
        margin: 0 auto 40px auto; } }
  .menu-drawer__item-img {
    max-width: 485px; }
    @media (max-width: 575px) {
      .menu-drawer__item-img {
        width: 95%; } }

.breadcrumbs {
  display: flex;
  align-items: center;
  min-height: 55px;
  position: relative;
  background: rgba(223, 223, 223, 0.5);
  font-size: 14px;
  line-height: 200%;
  padding-left: 21.4%; }
  .breadcrumbs__link:hover {
    text-decoration: underline; }
  .breadcrumbs__link:visited {
    color: inherit; }

.contact-email {
  display: flex;
  align-items: center;
  margin-bottom: 29px; }
  .contact-email__icon {
    width: 16px;
    height: 16px;
    margin-right: 15px; }
  .contact-email__link {
    font: 14px "OpenSans-SemiBold", sans-serif;
    text-decoration: none;
    color: #363838; }

.contact {
  margin-bottom: 100px; }
  .contact__map {
    width: 100%;
    height: 578px;
    margin: -55px 0 58px 0; }
    @media (max-width: 1599px) {
      .contact__map {
        margin-top: 0; } }
    @media (max-width: 575px) {
      .contact__map {
        height: 350px;
        margin-bottom: 30px; } }
  .contact-container {
    max-width: 1131px;
    padding: 0px 20px;
    margin: 0 auto; }
  .contact-title {
    font: 36px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 31px 0; }
    @media (max-width: 575px) {
      .contact-title {
        margin-bottom: 20px; } }
  .contact-divider {
    max-width: 200px;
    height: 2px;
    background: #6D7278;
    margin: 0 0 39px 0; }
  .contact-info {
    padding-left: 27%; }
    @media (max-width: 575px) {
      .contact-info {
        padding: 0; } }
  .contact-sm {
    margin-bottom: 13px; }
  .contact-sm__link {
    margin-right: 31px; }
    @media (max-width: 575px) {
      .contact-sm__link {
        margin-right: 20px; } }
    .contact-sm__link:last-child {
      margin-right: 0; }
  .contact-sm__icon {
    width: 28px;
    height: 18px; }
  .contact-text {
    line-height: 175%;
    color: #A1A1A1;
    margin: 0 0 19px 0; }
  .contact-data {
    margin-bottom: 22px; }
  .contact-data__item {
    margin: 0 0 5px 0; }
    .contact-data__item:last-child {
      margin: 0; }
  .contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contact-form__input {
    box-sizing: border-box;
    flex: 0 1 50%;
    height: 40px;
    max-width: 407px;
    border-radius: 20px;
    padding: 0 17px;
    border: 1px solid #DFDFDF;
    outline: 0;
    margin: 0 11px 13px 0; }
    .contact-form__input::-moz-placeholder {
      color: #A1A1A1; }
    .contact-form__input:-ms-input-placeholder {
      color: #A1A1A1; }
    .contact-form__input::placeholder {
      color: #A1A1A1; }
    .contact-form__input_last {
      margin-right: 0; }
  .contact-form__textarea {
    box-sizing: border-box;
    flex: 0 1 100%;
    min-height: 125px;
    border-radius: 24px;
    padding: 18px 17px 0;
    border: 1px solid #DFDFDF;
    outline: 0;
    margin-bottom: 20px; }
    .contact-form__textarea::-moz-placeholder {
      color: #A1A1A1; }
    .contact-form__textarea:-ms-input-placeholder {
      color: #A1A1A1; }
    .contact-form__textarea::placeholder {
      color: #A1A1A1; }
  .contact-form__btn {
    height: 40px;
    background: #363838;
    border-radius: 21px;
    color: #FFFFF0;
    font: 16px "OpenSans-SemiBold", sans-serif;
    cursor: pointer;
    padding: 0 72px;
    border: none;
    outline: 0; }

.footer-top {
  background: #DFDFDF;
  padding: 63px 0 80px; }
  @media (max-width: 767px) {
    .footer-top {
      padding: 5% 0; } }

.footer-top-container {
  display: flex;
  max-width: 1085px;
  font: 14px "OpenSans-SemiBold", sans-serif;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .footer-top-container {
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .footer-top-container {
      flex-direction: column-reverse; } }

.footer-contacts {
  flex-grow: 1;
  max-width: 540px;
  margin-right: 96px; }
  @media (max-width: 991px) {
    .footer-contacts {
      max-width: 350px;
      margin-right: 90px; } }
  @media (max-width: 767px) {
    .footer-contacts {
      max-width: 540px;
      margin: 0 auto; } }

.footer-contacts__title {
  font: 16px "Montserrat-Bold", sans-serif;
  margin: 0 0 17px 0; }
  @media (max-width: 767px) {
    .footer-contacts__title {
      text-align: center; } }

.footer-contacts__text {
  max-width: 476px;
  color: #5A5A5A;
  font: 16px/27px "OpenSans-Regular", sans-serif;
  margin: 0 0 22px 0; }

.footer-contacts-email {
  display: flex;
  align-items: center;
  margin-bottom: 27px; }

.footer-contacts-email__icon {
  max-width: 16px;
  margin-right: 15px; }

.footer-contacts-email__link {
  text-decoration: none;
  color: #363838; }
  .footer-contacts-email__link:hover {
    text-decoration: underline; }

.footer-form {
  display: flex; }
  @media (max-width: 575px) {
    .footer-form {
      flex-wrap: wrap;
      align-items: flex-start; } }

.footer-form__email-field {
  max-width: 369px;
  height: 41px;
  box-sizing: border-box;
  flex-grow: 1;
  background: transparent;
  font-size: 16px;
  border: 1px solid #383636b3;
  border-radius: 21px;
  padding: 10px 20px;
  margin-right: 9px;
  outline: 0; }
  @media (max-width: 575px) {
    .footer-form__email-field {
      margin-bottom: 10px; } }
  .footer-form__email-field::-moz-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field:-ms-input-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field::placeholder {
    color: #A1A1A1; }

.footer-form__btn {
  height: 40px;
  background: #363838;
  border: none;
  border-radius: 21px;
  color: #FFFFF0;
  padding: 12px 61px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: 0; }

.footer-col {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 385px; }
  @media (max-width: 991px) {
    .footer-col {
      max-width: none;
      justify-content: space-around;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer-col {
      justify-content: space-evenly;
      margin-bottom: 40px; } }
  @media (max-width: 379px) {
    .footer-col {
      justify-content: space-between; } }

.footer-social-media {
  max-width: 110px;
  flex-grow: 1; }

.footer__link {
  display: flex;
  align-items: center;
  color: #707070;
  text-decoration: none;
  margin-bottom: 25px; }
  .footer__link:last-child {
    margin-bottom: 0; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__sm-icon {
  max-width: 16px;
  margin-right: 12px; }

.footer-bottom {
  text-align: center;
  background: #363838;
  color: #A1A1A1;
  font: 16px "OpenSans-Regular", sans-serif;
  padding: 45px 10px 43px; }
  @media (max-width: 767px) {
    .footer-bottom {
      padding: 5% 10px; } }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s; }
  @media (min-width: 1921px) {
    .overlay {
      position: absolute; } }
