html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: local("OpenSans-Regular"), url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: local("OpenSans-LightItalic"), url("./fonts/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/OpenSans-LightItalic.woff") format("woff"), url("./fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: local("OpenSans-SemiBold"), url("./fonts/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/OpenSans-SemiBold.woff") format("woff"), url("./fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"); }

html {
  background: #F2F2F2; }

body {
  max-width: 1920px;
  min-width: 280px;
  font: 16px "OpenSans-Regular", sans-serif;
  background: #fff;
  color: #5A5A5A;
  margin: 0 auto; }
  .body_lock {
    overflow-y: hidden;
    touch-action: pan-x pinch-zoom; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

.collection {
  display: grid;
  max-width: 1868px;
  grid-template-columns: repeat(5, 350px);
  -moz-column-gap: 28px;
       column-gap: 28px;
  margin-left: 28px; }
  @media (max-width: 1909px) {
    .collection {
      max-width: 1110px;
      grid-template: repeat(2, 1fr)/repeat(6, 1fr);
      gap: 30px;
      margin: 0 auto; } }
  @media (max-width: 1199px) {
    .collection {
      max-width: 730px;
      grid-template: repeat(3, 1fr)/repeat(4, 1fr); } }
  @media (max-width: 991px) {
    .collection {
      max-width: 725px;
      gap: 20px 25px; } }
  @media (max-width: 767px) {
    .collection {
      max-width: 350px;
      grid-template: repeat(5, 1fr)/1fr;
      row-gap: 30px; } }
  @media (max-width: 439px) {
    .collection {
      max-width: none;
      padding: 0 10px; } }
  .collection-item {
    max-height: 350px;
    position: relative; }
    .collection-item:hover .collection-item-info {
      opacity: 1; }
    @media (max-width: 1909px) {
      .collection-item {
        grid-column: span 2; } }
    @media (max-width: 767px) {
      .collection-item {
        grid-column: 1; } }
    @media (max-width: 439px) {
      .collection-item {
        max-width: 350px;
        width: 100%;
        margin: 0 auto; } }
    @media (max-width: 1909px) {
      .collection-item-04 {
        grid-column: 2 / span 2; } }
    @media (max-width: 1199px) {
      .collection-item-04 {
        grid-column: span 2; } }
    @media (max-width: 767px) {
      .collection-item-04 {
        grid-column: 1; } }
    @media (max-width: 1199px) {
      .collection-item-05 {
        grid-column: 2 / span 2; } }
    @media (max-width: 767px) {
      .collection-item-05 {
        grid-column: 1; } }
    .collection-item__img {
      max-width: 350px; }
      @media (max-width: 439px) {
        .collection-item__img {
          width: 100%; } }
    .collection-item-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.6);
      opacity: 0;
      transition: opacity .5s; }
    .collection-item__title {
      font: 20px "Montserrat-Bold", sans-serif;
      color: #363838;
      margin: -5px 0 18px; }
    .collection-item__divider {
      width: 100%;
      max-width: 198px;
      border: 1px solid #979797;
      margin: 0 0 23px 0; }
    .collection-item__text {
      font-size: 14px;
      color: #707070;
      margin: 0; }

@media (min-width: 1921px) {
  .page {
    position: relative;
    overflow-x: hidden; } }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s; }
  @media (min-width: 1921px) {
    .overlay {
      position: absolute; } }

.contact-email {
  display: flex;
  align-items: center;
  margin-bottom: 27px; }
  .contact-email__icon {
    width: 16px;
    height: 16px;
    margin-right: 15px; }
  .contact-email__link {
    font-family: "OpenSans-SemiBold", sans-serif;
    text-decoration: none;
    color: #363838; }

.menu {
  display: flex;
  align-items: center;
  max-width: 1131px;
  margin: 0 auto;
  padding: 45px 20px 44px; }
  @media (max-width: 767px) {
    .menu {
      justify-content: space-around;
      padding: 20px; } }
  .menu-col {
    display: flex;
    align-items: center; }
    .menu-col_01 {
      flex: 42%;
      padding-left: 53px; }
      @media (max-width: 991px) {
        .menu-col_01 {
          flex: 1 1 auto;
          justify-content: flex-end;
          padding: 0;
          margin-right: 80px; } }
      @media (max-width: 767px) {
        .menu-col_01 {
          flex-grow: 0; } }
    .menu-col_02 {
      flex: 45%;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        .menu-col_02 {
          flex: 1 1 auto; } }
      @media (max-width: 767px) {
        .menu-col_02 {
          flex-grow: 0; } }
  .menu__link {
    position: relative;
    font-family: "Montserrat-Bold", sans-serif;
    text-decoration: none;
    color: #363838e6;
    margin-right: 80px; }
    .menu__link:hover::after, .menu__link_active::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -7px;
      border-radius: 1px;
      background: rgba(54, 56, 56, 0.7); }
    .menu__link_active {
      position: relative; }
      .menu__link_active:hover {
        text-decoration: none; }
    .menu__link:last-of-type {
      margin: 0; }
    @media (max-width: 767px) {
      .menu__link {
        font-size: 24px;
        margin: 0 0 80px 0; }
        .menu__link:last-of-type {
          margin-bottom: 60px; } }
  .menu__logo {
    max-width: 97px;
    height: 31px; }
    @media (max-width: 991px) {
      .menu__logo {
        order: -1; } }
  .menu-icon {
    cursor: pointer;
    margin-left: 63px; }
    @media (max-width: 991px) {
      .menu-icon {
        margin-left: auto; } }
  .menu-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -700px;
    bottom: 0;
    width: 100%;
    max-width: 699px;
    background: #fff;
    padding-top: 95px;
    transition: right .5s;
    z-index: 2; }
    @media (min-width: 1921px) {
      .menu-drawer {
        position: absolute; } }
    @media (max-width: 767px) {
      .menu-drawer {
        padding-bottom: 50px; } }
    @media (max-width: 699px) {
      .menu-drawer {
        right: -100%; } }
    .menu-drawer_opened {
      right: 0; }
  .menu-drawer__close {
    position: absolute;
    top: 41px;
    left: 47px;
    width: 26px;
    cursor: pointer; }
    @media (max-width: 575px) {
      .menu-drawer__close {
        top: 20px;
        left: 20px; } }
  .menu-drawer__logo {
    max-width: 194px;
    margin-bottom: 45px; }
    @media (max-width: 767px) {
      .menu-drawer__logo {
        margin-bottom: 80px; } }
    @media (max-width: 575px) {
      .menu-drawer__logo {
        margin-bottom: 60px; } }
  .menu-drawer__item {
    text-align: center; }
    @media (max-width: 575px) {
      .menu-drawer__item {
        padding: 10px; } }
  .menu-drawer__item-title {
    font: 36px "Montserrat-Bold", sans-serif;
    color: #363838;
    margin-top: 0;
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .menu-drawer__item-title {
        font-size: 30px; } }
  .menu-drawer__divider {
    max-width: 250px;
    border: 1px solid #979797;
    margin-bottom: 30px; }
    @media (max-width: 575px) {
      .menu-drawer__divider {
        margin-bottom: 20px; } }
  .menu-drawer__item-text {
    max-width: 485px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 85px; }
    @media (max-width: 575px) {
      .menu-drawer__item-text {
        margin: 0 auto 40px auto; } }
  .menu-drawer__item-img {
    max-width: 485px; }
    @media (max-width: 575px) {
      .menu-drawer__item-img {
        width: 95%; } }

.slider {
  margin-bottom: 137px; }
  @media (max-width: 991px) {
    .slider {
      margin-bottom: 60px; } }
  @media (max-width: 439px) {
    .slider {
      margin-bottom: 50px; } }
  .slider-line-container {
    min-height: 815px;
    overflow-x: hidden;
    margin-bottom: -8px; }
    @media (max-width: 1399px) {
      .slider-line-container {
        min-height: auto;
        margin-bottom: 30px; } }
  .slider-line {
    display: flex;
    touch-action: pinch-zoom pan-y; }
  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 0 50px 0 30px;
    margin-right: 20px; }
    @media (max-width: 1399px) {
      .slide {
        padding: 50px 30px; } }
    @media (max-width: 1199px) {
      .slide {
        padding: 30px; } }
    @media (max-width: 991px) {
      .slide {
        padding: 20px; } }
    @media (max-width: 575px) {
      .slide {
        padding: 10px 10px 20px; } }
    @media (max-width: 320px) {
      .slide {
        padding: 10px; } }
  .slide-01 {
    background: url("img/slide01-bg.jpg") no-repeat; }
  .slide-02 {
    background: url("img/slide02-bg.jpg") no-repeat; }
  .slide-03 {
    background: url("img/slide03-bg.jpg") no-repeat; }
  .slide-content {
    display: flex;
    max-width: 1543px;
    max-height: 722px;
    align-items: flex-start;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0 auto; }
    @media (max-width: 1399px) {
      .slide-content {
        justify-content: center;
        align-items: center; } }
    @media (max-width: 575px) {
      .slide-content {
        flex-direction: column; } }
  .slide__img {
    max-width: 703px;
    margin-right: 19px; }
    @media (max-width: 1399px) {
      .slide__img {
        max-width: 490px; } }
    @media (max-width: 991px) {
      .slide__img {
        max-width: 260px; } }
    @media (max-width: 575px) {
      .slide__img {
        margin: 0 0 20px 0; } }
    @media (max-width: 439px) {
      .slide__img {
        max-width: 210px; } }
    @media (max-width: 320px) {
      .slide__img {
        max-width: 160px;
        margin-bottom: 15px; } }
  .slide-info {
    margin-top: 175px; }
    @media (max-width: 1399px) {
      .slide-info {
        flex-basis: 586px;
        margin: 0; } }
    @media (max-width: 575px) {
      .slide-info {
        flex-basis: auto;
        text-align: center; } }
  .slide__title {
    font: 110px "Montserrat-Bold", sans-serif;
    line-height: 121.81818%;
    color: #363838;
    margin: 0 0 27px 0; }
    @media (max-width: 1199px) {
      .slide__title {
        font-size: 78px; } }
    @media (max-width: 991px) {
      .slide__title {
        font-size: 42px; } }
    @media (max-width: 439px) {
      .slide__title {
        font-size: 34px;
        margin: 0 0 20px 0; } }
    @media (max-width: 320px) {
      .slide__title {
        margin-bottom: 15px; } }
  .slide__text-divider {
    max-width: 184px;
    border: 1px solid #979797;
    margin: 0 0 26px 0; }
    @media (max-width: 575px) {
      .slide__text-divider {
        margin: 0 auto 26px; } }
    @media (max-width: 439px) {
      .slide__text-divider {
        margin-bottom: 20px; } }
    @media (max-width: 320px) {
      .slide__text-divider {
        margin-bottom: 15px; } }
  .slide__text {
    max-width: 596px;
    line-height: 169%;
    margin: 0; }
  .slider-dots {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    position: relative;
    z-index: 1; }
    @media (max-width: 1399px) {
      .slider-dots {
        position: static;
        z-index: auto;
        padding: 0; } }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #363838;
    margin-right: 30px;
    outline: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: background-color .4s; }
    .dot:last-child {
      margin-right: 0; }
    .dot_active {
      background: #FFEF35; }

.furniture {
  margin-bottom: 104px; }
  @media (max-width: 767px) {
    .furniture {
      margin-bottom: 60px; } }
  @media (max-width: 439px) {
    .furniture {
      margin-bottom: 40px; } }
  .furniture-text-content {
    max-width: 730px;
    padding-left: 20px;
    margin: 0 auto 54px; }
    @media (max-width: 991px) {
      .furniture-text-content {
        padding: 0 10px; } }
    @media (max-width: 439px) {
      .furniture-text-content {
        margin-bottom: 40px; } }
  .furniture__title {
    font: 36px "Montserrat-Bold", sans-serif;
    text-align: center;
    color: #363838;
    margin: 0 0 27px 0; }
    @media (max-width: 439px) {
      .furniture__title {
        font-size: 28px; } }
  .furniture__text-divider {
    max-width: 250px;
    border: 1px solid #979797;
    margin-bottom: 26px; }
  .furniture__text {
    text-align: center;
    line-height: 168.75%;
    margin: 0; }

.feature {
  position: relative;
  background: url("img/feature-bg.jpg") no-repeat;
  background-size: cover;
  padding: 9.2% 0 9.6% 21.4%;
  margin-bottom: 79px; }
  @media (max-width: 991px) {
    .feature {
      padding: 9.2% 10px 9.6%; } }
  @media (max-width: 575px) {
    .feature {
      display: none; } }
  .feature__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); }
  .feature-content {
    max-width: 530px;
    position: relative;
    z-index: 1; }
    @media (max-width: 991px) {
      .feature-content {
        margin: 0 auto; } }
  .feature__title {
    font: 60px/133% "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0 0 20px 0; }
    @media (max-width: 991px) {
      .feature__title {
        font-size: 40px; } }
  .feature__divider {
    max-width: 198px;
    margin: 0 0 22px 0;
    border: 1px solid #979797; }
  .feature__text {
    line-height: 175%;
    margin: 0; }

.production {
  margin-bottom: 89px; }
  @media (max-width: 575px) {
    .production {
      margin-bottom: 60px; } }
  @media (max-width: 439px) {
    .production {
      margin-bottom: 40px; } }
  .production-map-container {
    max-width: 1119px;
    padding-left: 37px;
    margin: 0 auto 102px; }
    @media (max-width: 1399px) {
      .production-map-container {
        padding-left: 0; } }
    @media (max-width: 991px) {
      .production-map-container {
        margin-bottom: 40px; } }
    @media (max-width: 575px) {
      .production-map-container {
        margin-bottom: 0; } }
  .production__title {
    font: 36px/142% "Montserrat-Bold", sans-serif;
    text-align: center;
    color: #363838;
    margin: 0 0 47px 0; }
    @media (max-width: 439px) {
      .production__title {
        font-size: 28px;
        margin-bottom: 40px; } }
  @media (max-width: 1199px) {
    .production-map {
      max-width: 920px;
      margin: 0 auto; } }
  @media (max-width: 991px) {
    .production-map {
      display: flex;
      max-width: 560px;
      min-height: 920px;
      justify-content: space-between;
      position: relative; } }
  @media (max-width: 699px) {
    .production-map {
      min-height: auto;
      justify-content: center;
      padding: 0 10px; } }
  .production-track {
    display: flex;
    justify-content: space-between;
    max-width: 853px;
    padding-left: 7px; }
    @media (max-width: 1199px) {
      .production-track {
        max-width: 750px; } }
    @media (max-width: 991px) {
      .production-track {
        flex-direction: column;
        justify-content: normal;
        padding-left: 0; } }
    .production-track_bottom {
      margin: 0 0 0 304px; }
      @media (max-width: 1199px) {
        .production-track_bottom {
          margin-left: 250px; } }
      @media (max-width: 991px) {
        .production-track_bottom {
          align-items: flex-end;
          margin: 250px 0 0; } }
      @media (max-width: 699px) {
        .production-track_bottom {
          display: none; } }
  .production-step {
    box-sizing: border-box;
    max-width: 270px; }
    @media (max-width: 991px) {
      .production-step {
        margin-bottom: 300px; }
        .production-step:last-child {
          margin-bottom: 0; } }
    @media (max-width: 699px) {
      .production-step {
        margin-bottom: 30px; } }
    @media (max-width: 699px) {
      .production-step::after {
        content: "\2193";
        display: block;
        font-size: 40px;
        text-align: center; } }
    .production-step_bottom-first .production-step__text {
      max-width: 226px; }
    .production-step_bottom-second {
      text-align: end; }
      @media (max-width: 699px) {
        .production-step_bottom-second {
          text-align: start; }
          .production-step_bottom-second::after {
            display: none; } }
      .production-step_bottom-second .production-step__text {
        max-width: 226px;
        margin-left: auto; }
        @media (max-width: 699px) {
          .production-step_bottom-second .production-step__text {
            margin: 0; } }
  .production-step__icon {
    margin-right: 10px; }
  .production-step__title {
    display: inline-block;
    position: relative;
    font: 16px/144% "Montserrat-Bold", sans-serif;
    color: #363838;
    padding-left: 50px;
    margin: 0 0 20px 0; }
    .production-step__title::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: -6px; }
    .production-step__title_01::before {
      width: 41px;
      height: 42px;
      background: url("img/prod-map-item-01.svg") no-repeat; }
    .production-step__title_02::before {
      width: 38px;
      height: 34px;
      background: url("img/prod-map-item-02.svg") no-repeat; }
    .production-step__title_03::before {
      width: 38px;
      height: 26px;
      background: url("img/prod-map-item-03.svg") no-repeat; }
    .production-step__title_04::before {
      width: 42px;
      height: 37px;
      background: url("img/prod-map-item-04.svg") no-repeat; }
  .production-step__text {
    line-height: 169%;
    margin: 0; }
  .production__timeline {
    width: 100%;
    margin-top: -18px; }
    @media (max-width: 991px) {
      .production__timeline {
        min-width: 920px;
        position: absolute;
        top: 440px;
        right: -190px;
        transform: rotate(90deg) scaleY(-1);
        margin-top: 0; } }
    @media (max-width: 699px) {
      .production__timeline {
        display: none; } }
  @media (max-width: 575px) {
    .production-gallery-container {
      display: none; } }
  .production-tabs {
    text-align: center;
    color: #8F8D8D;
    padding-left: 20px;
    margin-bottom: 40px; }
    @media (max-width: 1399px) {
      .production-tabs {
        padding: 0 10px; } }
    @media (max-width: 991px) {
      .production-tabs {
        max-width: 740px;
        margin: 0 auto 40px; } }
  .production-tab {
    border: 1px solid #45464780;
    border-radius: 20px;
    padding: 10px 16px;
    background: transparent;
    margin-right: 25px;
    outline: 0;
    font: 14px "OpenSans-SemiBold", sans-serif;
    color: #8F8D8D; }
    .production-tab:last-child {
      margin-right: 0; }
    @media (max-width: 991px) {
      .production-tab {
        margin: 20px 25px 0 0; }
        .production-tab:nth-child(3) {
          margin-right: 0; } }
  .production-tab_active {
    border: none;
    background: #ffef3580;
    color: #363838; }
  .production-gallery {
    display: grid;
    grid-template: repeat(2, 1fr)/43.8% 1fr 1fr;
    gap: 30px 33px;
    max-width: 1865px;
    margin-left: 30px; }
    @media (max-width: 1399px) {
      .production-gallery {
        margin: 0;
        padding: 0 10px; } }
    @media (max-width: 1199px) {
      .production-gallery {
        gap: 20px; } }
    @media (max-width: 767px) {
      .production-gallery {
        gap: 10px; } }
  .production-gallery__img {
    width: 100%;
    height: 100%; }
    .production-gallery__img:first-child {
      max-width: 812px;
      grid-row: span 2; }

.blog-invite {
  margin-bottom: 119px; }
  @media (max-width: 991px) {
    .blog-invite {
      margin-bottom: 60px; } }
  @media (max-width: 439px) {
    .blog-invite {
      margin-bottom: 40px; } }
  .blog-invite-container {
    max-width: 1109px;
    padding: 0 10px 0 30px;
    margin: 0 auto; }
    @media (max-width: 1399px) {
      .blog-invite-container {
        padding: 0 10px; } }
  .blog-invite__title {
    max-width: 430px;
    font: 36px/142% "Montserrat-Bold", sans-serif;
    color: #363838;
    text-align: center;
    margin: 0 auto 28px auto; }
    @media (max-width: 439px) {
      .blog-invite__title {
        font-size: 28px; } }
  .blog-invite-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 1199px) {
      .blog-invite-content {
        max-width: 540px;
        margin: 0 auto; } }
  .blog-article {
    max-width: 540px; }
    @media (max-width: 1199px) {
      .blog-article {
        flex-basis: 100%;
        margin-bottom: 40px; }
        .blog-article:last-child {
          margin-bottom: 0; } }
  .article__link-img {
    display: inline-block;
    margin-bottom: 17px; }
  .article__img {
    max-width: 540px; }
    @media (max-width: 1199px) {
      .article__img {
        width: 100%; } }
  .article__info {
    display: inline-block;
    font: 14px "OpenSans-SemiBold", sans-serif;
    color: #707070;
    margin-bottom: 14px; }
  .article__title {
    font: 24px/158% "Montserrat-Bold", sans-serif;
    color: #363838;
    margin: 0; }
  .article__link {
    text-decoration: none;
    color: inherit; }
    .article__link:hover {
      text-decoration: underline; }

.footer-top {
  background: #DFDFDF;
  padding: 63px 0 80px; }
  @media (max-width: 767px) {
    .footer-top {
      padding: 5% 0; } }

.footer-top-container {
  display: flex;
  max-width: 1085px;
  font: 14px "OpenSans-SemiBold", sans-serif;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .footer-top-container {
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .footer-top-container {
      flex-direction: column-reverse; } }

.footer-contacts {
  flex-grow: 1;
  max-width: 540px;
  margin-right: 96px; }
  @media (max-width: 991px) {
    .footer-contacts {
      max-width: 350px;
      margin-right: 90px; } }
  @media (max-width: 767px) {
    .footer-contacts {
      max-width: 540px;
      margin: 0 auto; } }

.footer-contacts__title {
  font: 16px "Montserrat-Bold", sans-serif;
  margin: 0 0 17px 0; }
  @media (max-width: 767px) {
    .footer-contacts__title {
      text-align: center; } }

.footer-contacts__text {
  max-width: 476px;
  color: #5A5A5A;
  font: 16px/27px "OpenSans-Regular", sans-serif;
  margin: 0 0 22px 0; }

.footer-form {
  display: flex; }
  @media (max-width: 575px) {
    .footer-form {
      flex-wrap: wrap;
      align-items: flex-start; } }

.footer-form__email-field {
  max-width: 369px;
  height: 41px;
  box-sizing: border-box;
  flex-grow: 1;
  background: transparent;
  font-size: 16px;
  border: 1px solid #383636b3;
  border-radius: 21px;
  padding: 10px 20px;
  margin-right: 9px;
  outline: 0; }
  @media (max-width: 575px) {
    .footer-form__email-field {
      margin-bottom: 10px; } }
  .footer-form__email-field::-moz-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field:-ms-input-placeholder {
    color: #A1A1A1; }
  .footer-form__email-field::placeholder {
    color: #A1A1A1; }

.footer-form__btn {
  height: 40px;
  background: #363838;
  border: none;
  border-radius: 21px;
  color: #FFFFF0;
  padding: 12px 61px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: 0; }

.footer-col {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 385px; }
  @media (max-width: 991px) {
    .footer-col {
      max-width: none;
      justify-content: space-around;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer-col {
      justify-content: space-evenly;
      margin-bottom: 40px; } }
  @media (max-width: 379px) {
    .footer-col {
      justify-content: space-between; } }

.footer-social-media {
  max-width: 110px;
  flex-grow: 1; }

.footer__link {
  display: flex;
  align-items: center;
  color: #707070;
  text-decoration: none;
  margin-bottom: 25px; }
  .footer__link:last-child {
    margin-bottom: 0; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__sm-icon {
  max-width: 16px;
  margin-right: 12px; }

.footer-bottom {
  text-align: center;
  background: #363838;
  color: #A1A1A1;
  font: 16px "OpenSans-Regular", sans-serif;
  padding: 45px 10px 43px; }
  @media (max-width: 767px) {
    .footer-bottom {
      padding: 5% 10px; } }
